<ion-view title="Home">
  <ion-content class="has-header">
      <div class="row">
          <div class="col col-50 white_half center">
            <img src="../img/icons/drink.png" class="large_icon"></br>
            <a href="#/tab/cheapestDrink" class="titleLink">Drink</a>
          </div>
          <div class="col col-50 black_half center">
             <img src="../img/icons/drive.png" class="large_icon"></br>
             <a href="templates/tab-drive.html" class="titleLink white">Drive</a>
          </div>
        </div>
  </ion-content>
</ion-view>
